* {
margin: 0;
padding: 0;}


:root {

	--background-primary: #F4F5FB;
	--background-secondary: #FFFFFF;

	--color-brand: #CA3884;
	--color-brand-hover: #A52C6B;
	--color-danger: #C93847;

	--content-primary: #080B12;
	--content-secondary: #374151;
	--content-tertiary: #9CA3AF;
	--always-white: #FFFFFF;

	--border-primary: #D1D5DB;
	--border-hover: #B9C2D0;


	--font-title: bold 1.5rem/1.6rem "Inter", sans-serif;
	--font-label: 600 1rem/1.25rem "Inter", sans-serif;
	--font-paragraph: 500 1rem/1.25rem "Inter", sans-serif;
	--font-link: 500 0.875rem/1rem "Inter", sans-serif;

}


body {

    width: 85.375rem;
    height: 48rem;
    background-color: var(--background-primary);
 



}

.titulo {
    
    width: 9.6875rem;
    height: 2.5rem;
    margin-inline: auto;
    margin-top:1.5625rem;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 0;
    
& p {

font: bold 26.76px "Sora", sans-serif;}

}     


.voltar {
    display: flex;
    align-items: center;
    background-color: inherit;
    border: none;
    margin-top: 3.875rem;
    margin-left: 23.0625rem;
    color: var(--color-brand);
    font: var(--font-link);


}

h1 {
    margin-top: 1rem;
    margin-left: 22.8125rem;
    font: var(--font-title);
     }

.add {
display: flex;
align-items: center;
width: 39.1875rem;
height: 2.75rem;
margin-left: 23.0625rem;
margin-top: 2.75rem;
gap: 1rem;

& input {

height: 100%;
width: 28.1875rem;
border-radius: 12px;
font: var(--font-paragraph);
color: var(--color-brand);
border: 2px solid var(--border-primary);
padding-left: 1.125rem;
}

& button {
height: 100%;
width: 10rem;
border-radius: 12px;
background-color: var(--color-brand);
color: var(--always-white);
font: var(--font-label);
}
}

ul {
height: 14.5rem;
width:39.1875rem;
margin-top: 2.5rem;
margin-left: 23.0625rem;
border: 2px solid green;

}